#boton1, #boton2, #boton3 {
    background: linear-gradient(135deg, #ff7eb3, #ff758c);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

#boton1:hover, #boton2:hover, #boton3:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

#boton1:active, #boton2:active, #boton3:active {
    transform: scale(0.95);
}
    

h1, h2 {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
}

.botones {
    text-align: center;
    margin-bottom: 20px;
}

.informe {
    display: none;
    padding: 20px;
    border-radius: 10px;
    background-color: #f3f3f3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.activeInforme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulosInformes {
    margin-bottom: 20px;
}

.camposInformes {
    width: 50%;
    height: 50px;
}

